<h1 class="text-center">Eat-Da-Burger!!</h1>


<div class="row">
<div class="col-md-4">
  <h2 class="text-center">List of burgers!</h2>

<ul class="text-center burger">
  {{#each cats}}
    {{#unless devour}}
      {{> cats/cat-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>
<div class="col-md-4"></div>
<div class="col-md-4">
  <h2 class="text-center">Devour it!</h2>
  <ul>
  {{#each cats}}
    {{#if devour}}
      {{> cats/cat-block devour=false}}
    {{/if}}
  {{/each}}
</ul>
</div>
</div>

<h2 class="text-center">Add a Burger</h2>
<form class="create-form text-center">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div>
    <h5>Enter the burger you want to eat and Click the "Add burger" button</h5>
  </div>

  <button type="submit">Add Burger</button>
  </form>
