<li class="text-center">
	{{burger_name}}

	{{#if devour}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		Devour It!	
	</button>

	{{else}}
	<button type="button" class="btn btn-lg btn-primary" disabled><h6 class="text-center">Yummy in my Tummy!! :D</h6></button>

	{{/if}}
</li>
